@import url('https://fonts.googleapis.com/css2?family=Poppins');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: #48ff00;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}


.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;

}
.nav-links li{
    margin: 0 30px;
}


header{
    width: 100vw;
    height: 100vh;
    background-image: url(img/Rick\ and\ Morty\ Wallpaper\ 1920x1080_35.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-content{
    margin-bottom: 150px;
    color:whitesmoke;
   text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background-color:#48ff00;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #48ff00;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section{
    width: 80%;
    margin: 80px auto;
    background-color: black;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color:rgb( 73 ,73, 126);

}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   
}
.col img{
    width: 300px;
    margin: 10px;
   
}
.row .col  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;

}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: #484872;
    padding: 0px 60px;
    text-align: left;

}
.events .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(img/rick-and-morty-under-purple-sky-vwahz1qcdne7f8mx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.explore-content h1{
    font-size: 7vmin ;
   
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: white;
}
.explore-content ctn{
    margin-top: 40px;
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}


.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    width: 300px;
    margin: 10px;

}
.content-col h1{
    font-size: 7vmin;
    color: #484872;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background:#48ff00;
    text-align: center;
    
    
    
    
}
.footer p{
    color: white;
    margin: 20px auto;
}
.footer span{
color: black;
font-weight: bold;
 font-size: 1.2rem;
color: whitesmoke;
margin-bottom: 25px;
position: relative;
}





  @media  only screen and (max-width:850px){
    
    
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;

    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #000000;
        margin-top: -900px;
        transition: all 0.5s ease;

    }
    .mobile-menu{
        margin-top: 0px;
       
    }
    .nav-links li{
        margin: 30px auto;
    }

    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }

    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
        
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    .footer{
        padding: 10px;
       
    }

  }

  img {
    transition: transform .3s ease;

  }
  img:hover{
    transform: scale(1.1);
  }
  .ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 2px black;
  }

  li:hover{
    color: #fc036b;
    cursor: pointer;
  }